/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.navbar {
  background-color: navy;
  z-index: 1000;
}
.nav-link, .navbar-brand, .navbar-item {
  color: white !important;
}
.navbar-brand:focus, .navbar-brand:hover,
.navbar-link:focus, .navbar-link:hover,
.navbar-item:focus, .navbar-item:hover {
  color: white !important;
}
.white {
  color: white !important;
  background-color: white !important;
}
* {
  box-sizing: border-box;
}

nav {
  background-color: navy;
  z-index: 1000;
}

sup {
  font-size: 8px;
}

.andersen,
.byui,
.streamit {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.work-social {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
}

.social {
  border-radius: 50%;
  width: 50%;
  height: auto;
  text-align: center;
}

.social img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .social {
    max-width: 100%;
  } 
}

#readMore {
  margin-top: 15px;
}

.link {
  text-decoration: none;
}

.card {
  border: none !important;
}

.center-col {
  margin-top: 100px;
}